<div id="<%= dom_id weapon %>">
  <div class="card"  style="width: 18rem;">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" id = "details">
        <p>
          <strong>Damage:</strong>
          <%= weapon.damage %>
        </p>

        <p>
          <strong>Weapon type:</strong>
          <%= weapon.weapon_type %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= weapon.name %>
        </p>

        <%= link_to "Edit weapon", edit_character_weapon_path(@character, weapon) %>
        <%= button_to 'Delete armor', character_weapon_path(@character, weapon), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </li>
    </ul>
  </div>

</div>
