<div id="<%= dom_id weapon %>">
  <p>
    <strong>Damage:</strong>
    <%= weapon.damage %>
  </p>

  <p>
    <strong>Weapon type:</strong>
    <%= weapon.weapon_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= weapon.character_id %>
  </p>

</div>
