<div id="<%= dom_id character %>">

  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Character class:</strong>
    <%= character.character_class %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= character.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= character.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= character.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= character.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= character.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= character.charisma %>
  </p>

  <p>
    <strong>Appearance:</strong>
    <%= character.appearance %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= character.background %>
  </p>

  <p>
    <strong>User:</strong>
    <%= character.user_id %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= character.armor_class %>
  </p>

  <p>
    <strong>Max health:</strong>
    <%= character.max_health %>
  </p>

  <p>
    <strong>Current health:</strong>
    <%= character.current_health %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= character.race %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= character.speed %>
  </p>

  <p>
    <strong>Proficiency:</strong>
    <%= character.proficiency %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= character.image %>
  </p>

</div>
