<%if  user_signed_in?%>
  <p style="color: green"><%= notice %></p>

  <div class="container mt-4">
    <p class="notice text-success"><%= notice %></p>

    <h1 class="text-center mb-4">Characters</h1>

    <div class="row">
      <% @characters.each do |character| %>
        <div class= "col-md-3 mb-2">
          <%= render partial: 'character_card', locals: { character: character } %>
        </div>
      <% end %>
    </div>

    <%= link_to "New character", new_character_path, class: 'btn btn-success' %>
  </div>

<%else%>
  <%= render "landingpage"%>

<%end%>
