<div id="<%= dom_id armor %>">
  <p>
    <strong>Armor class:</strong>
    <%= armor.armor_class %>
  </p>

  <p>
    <strong>Armor category:</strong>
    <%= armor.armor_category %>
  </p>

  <p>
    <strong>Armor type:</strong>
    <%= armor.armor_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= armor.name %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= armor.character_id %>
  </p>

</div>


