  
<div id="<%= dom_id armor %>">
  <div class="card"  style="width: 18rem;">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" id = "details">
        <p>
          <strong>Armor class:</strong>
          <%= armor.armor_class %>
        </p>

        <p>
          <strong>Armor category:</strong>
          <%= armor.armor_category %>
        </p>

        <p>
          <strong>Armor type:</strong>
          <%= armor.armor_type %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= armor.name %>
        </p>
        
        <%= link_to "Edit armor", edit_character_armor_path(@character, armor) %>
        <%= button_to 'Delete armor', character_armor_path(@character, armor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

      </li>
    </ul>
  </div>

</div>
