<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        background-color: black;
        color: white;
        Font-family: "Montserrat";
        font-smooth: always;
      }

      .collapse-content {
        background-color: red;
        color: white;
      }

      .navbar {
        background-color: red;
        color: white;
      }

      .btn-secondary{
        margin-bottom: 20px;
        background-color: red;
        color: white;
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .btn-primary{
        background-color: red;
        color: white;
        width: 100px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }

      .navbar-toggler-icon span {
        background-color: white;
      }

      .modal-header {
        background-color: red;
      }

      .modal-body {
        background-color: black;
      }

      .modal-footer {
        background-color: black;
      }

      #details {
        background-color: red;
        color: white;
        
        
      }
    </style>

  </head>

  <body>
    <div class="humberger-menu-overlay active"></div>

    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="collapse-content">
          <h4 class="text-white">Collapsed content</h4>
          <span>Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">

          </span>
        </button>
      </nav>
    </div>
    <%if user_signed_in? %>

      <div>
        <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
      <div>
        <%= link_to "Edit", edit_user_registration_path %>
      </div>
    <%else%>
      <div>
        <%= link_to "Sign In", new_user_session_path %>
      </div>
      <div>
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    <%end%>

    <%= yield %>
  </body>
</html>
